<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <!-- Metadados -->
    <!-- ... (seu c칩digo existente) -->
</head>
<body>
    <script>
        // Exiba um alerta informando que os dados foram inseridos com sucesso
        alert("Dados inseridos com sucesso!");
        // Redirecione o usu치rio de volta para a p치gina inicial ap칩s o alerta
        window.location.href = "/form";
    </script>
    
</body>
</html>
