<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GET</title>
</head>
<body>
    <h1>Dados recebidos pelo método GET:</h1>
    <h2>Os dados digitados foram:</h2>
    <p>Codigo Hash enviado: <%=hashcode %></p>
</body>
</html>