body {
  max-width: 90%;
  margin: 0 auto;
  padding: 2%;
  background-color: white;
}

/* CSS para telas maiores */
@media (min-width: 769px) {
  #frase h1 {
    font-size: 40px; /* Tamanho da fonte para telas maiores */
  }

}

/* CSS para telas menores (smartphones) */
@media (max-width: 768px) {


  #frase h1 {
    font-size: 24px; /* Tamanho da fonte para telas menores */
  }

 
}

.centered-container {
  display: flex;
  flex-direction: column; /* Colocar os elementos em uma coluna */
  align-items: center; /* Alinhar horizontalmente no centro */
  text-align: center; /* Centralizar o texto */
  margin-top: 2%; /* Ajuste conforme necessário */
}

#logo {
  width: 15%; /* Defina o valor desejado, como 50% para metade do tamanho atual */
  height: auto;
  margin-top: -100; /* Ajuste conforme necessário para espaço entre a imagem e o texto */
}

h1 {
  color: black;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  text-rendering: optimizeLegibility;
  font-size: 40px;
  margin-top: 40px; /* Ajuste conforme necessário para espaço entre o texto e outros elementos */
}

.spanRadio{
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  text-rendering: optimizeLegibility;
  
}

#frase{

  color: black;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  text-rendering: optimizeLegibility;
  font-size: 40px;
  margin-top: 10px;
  
}

.search {
  margin-bottom: 10%;
  margin-top: 10%;
  width: 300px;
  height: 50px;
}


.input_position{
  position: absolute;
}

/* CSS para o campo de pesquisa */ 
/* CSS para o campo de pesquisa */ 
.search input {
  width: auto;
  height: 100%;
  padding-left: 30px;
  padding-right: 60px;
  background-color: white;
  border-radius: 25px;
  border: 1px solid black; /* Adicione a borda preta */
  /*box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /* Sombras mais intensas */
}


/* CSS para o botão de pesquisa com ícone de lupa */

.search-button {
  position: revert;
  transform: translateY(33%);
  margin-top: 50px;
  right: 10px;
  width: 30px; /* Defina o tamanho desejado para o botão */
  height: 30px; /* Defina o tamanho desejado para o botão */
  background: transparent; /* Remove a cor de fundo */
  border: none;
  cursor: pointer;
  background-image: url('https://img.icons8.com/ios/50/000000/search--v1.png'); /* Substitua com o caminho para o seu ícone de lupa */
  background-size: cover; /* Redimensione a imagem para preencher todo o botão */
  background-repeat: no-repeat; /* Evite a repetição da imagem */
}




.centered-container2 {
  display: flex;
  flex-direction: column; /* Colocar os elementos em uma coluna */
  align-items: center; /* Alinhar horizontalmente no centro */
  text-align: center; /* Centralizar o texto */
  margin-top: 5%; /* Ajuste conforme necessário */
}

#frase {
  margin-bottom: 10px;
  font-size: 40px;
}

.links {
  margin-top: 10px; /* Adicione um espaçamento entre a frase e os botões */
}

.links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.links li {
  margin: 0 10px;
}

.links a {
  color: white;
  font-size: 24px;
  text-decoration: none;
  /* Defina o efeito de escala (zoom) ao passar o mouse */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: inline-block;
  outline: none; /* Remove o contorno ao redor dos ícones */
  border: none; /* Remove a borda ao redor dos ícones */
}

/* Estilo dos ícones de redes sociais */
.links img {
  /* Ajuste o tamanho dos ícones conforme necessário */
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  padding: 5px;
  box-sizing: content-box;
}

.links a:hover {
  transform: scale(1.2); /* Aumenta o tamanho do ícone em 20% ao passar o mouse */
}

.links a:hover img {
  background-color: #f8f8f8;
}

#frase{

  margin-top: 10%;
  
  }

.inputHash{
  padding: 15px;
  
}